@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container mt-3">
  <h2>tranhuubinh</h2>
  <p> CMPM<</p>            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>huu binh</td>
        <td>ktpm02 </td>
        <td>2024801030145@gmail.com</td>
      </tr>
      <tr>
        <td>test </td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>test</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>

